.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position:relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s ease-in;
}
.header-contents h2{
    font-size: max(4.5vw,22px);
    font-weight: 500;
    color: rgb(250, 240, 228);
}
.header-contents p{
    font-size: 1vw;
    color: whitesmoke;
}
.header-contents button{
    padding: 1vw 2.3vw;
    font-weight: 500;
    color: black;
    border: none;
    background-color: rgb(250, 240, 228);
    font-size: max(1vw,13px);
    border-radius: 50px;
}